<!-- <div id="map">
    <agm-map [zoom]="zoom" [styles]="styles" [latitude]="latitude" [longitude]="longitude" [streetViewControl]="false">
    </agm-map>
</div> -->

<div (click)="showSideBar = !showSideBar" (click)="showBurgerBar = !showBurgerBar" id="burgerBar" *ngIf="showBurgerBar">
    <hr class="line">
    <hr class="line">
    <hr class="line">
</div>

<div class="animated fadeIn" id="sideBar" *ngIf="showSideBar">
    <i class="fas fa-times-circle" id="close" (click)="showSideBar = !showSideBar" (click)="showBurgerBar = !showBurgerBar" ></i>
    <h2 id="logedName">Nombre nombre</h2>
    <h2 class="mapLinks">Proveedores</h2>
    <h2 class="mapLinks">Soporte</h2>
    <h2 class="mapLinks">Tutoriales</h2>
    <h2 class="mapLinks">Acerca de</h2>
    <h2 class="mapLinks">Cerrar sesión</h2>
</div>