<div id="map">
    <agm-map [zoom]="zoom" [styles]="styles" [latitude]="latitude" [longitude]="longitude" [streetViewControl]="false">
    </agm-map>
</div>

<div (click)="showSideBar = !showSideBar" (click)="showBurgerBar = !showBurgerBar" id="burgerBar" *ngIf="showBurgerBar">
    <hr class="line">
    <hr class="line">
    <hr class="line">
</div>

<div class="animated fadeIn" id="sideBar" *ngIf="showSideBar">
    <i class="fas fa-times-circle" id="close" (click)="showSideBar = !showSideBar" (click)="showBurgerBar = !showBurgerBar" ></i>
    <h3 id="logedName">Nombre nombre</h3>
    <h3 id="mapLinks">Proveedores</h3>
    <h3 id="mapLinks">Soporte</h3>
    <h3 id="mapLinks">Tutoriales</h3>
    <h3 id="mapLinks">Acerca de</h3>
    <h3 id="mapLinks">Cerrar sesión</h3>
</div>