<app-permiso-cre></app-permiso-cre>
<section id="sasisopaMenu">
  <div class="boxSasisopa">
    <div id="image"></div>
    <div id="texto">
      <h1>1.</h1>
      <h2>Política</h2>
    </div>
  </div>

  <div class="boxSasisopa">
    <div id="image"></div>
    <div id="texto">
      <h1>2.</h1>
      <h3>Identificación de peligros y análisis de riesgos</h3>
    </div>
  </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>3.</h1>
        <h2>Requisitos legales</h2>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>4.</h1>
        <h2>Objetivos, metas e indicadores</h2>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>5.</h1>
        <h3>Funciones, responsabilidad y autoridad</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>6.</h1>
        <h3>Competencia del personal, capacitación y entrenamiento</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>7.</h1>
        <h3>Comunicación, participación y consulta</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>8.</h1>
        <h3>Control de documentos y registros</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>9.</h1>
        <h3>Mejores prácticas y estándares</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>10.</h1>
        <h3>Control de actividades y procesos</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>11.</h1>
        <h2>Integridad mecánica</h2>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>12.</h1>
        <h2>Seguridad de contatistas</h2>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>13.</h1>
        <h3>Preparación y respuesta a emergencias</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>14.</h1>
        <h3>Monitoreo, verificación y evaluación</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>15.</h1>
        <h2>Auditorías</h2>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>16.</h1>
        <h3>Investigación de incidentes y accidentes</h3>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>17.</h1>
        <h2>Revisión de resultados</h2>
      </div>
    </div>

    <div class="boxSasisopa">
      <div id="image"></div>
      <div id="texto">
        <h1>18.</h1>
        <h2>Informes de desempeño</h2>
      </div>
    </div>
</section>
