div#sideBar {
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 20px;
    left: 20px;
    margin: 0 auto;
    /*background-color: lightslategray;*/
    background-color: rgba(34, 34, 34, 0.8);
    transition: all 1s;
    width: 250px;
    height: 600px;
    color: white;
    border-radius: 10px;
   
}

div#burgerBar {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 20px;
    left: 20px;
    margin: 0 auto;
    transform: rotate(90deg);
    transition: all 0.5s;
}

h2.mapLinks {
    padding-top: 10px;
    padding-bottom: 10px; 
}

h2.iconSideBarBack {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2.iconSideBarBack:hover {
    transform: translate(-18px,0px);
    cursor: pointer;
    transition: all 0.5s;
}

i.iconSideBar {
    padding-right: 20px;
}

h2.mapLinks:hover {
    transform: translate(18px,0px);
    cursor: pointer;
    transition: all 0.5s;
}

div#burgerBar:hover {
    transform: rotate(180deg);
    cursor: pointer;
}

hr {
    background-color: rgba(34, 34, 34, 0.8);
    height: 8px;
    width: 100%;
    border: none;
}

i#close {
    font-size: 30px;
    transition: all 1s;
    padding-top: 15px;
    padding-bottom: 15px;
}

i#close:hover {
    cursor: pointer;
    transform: rotate(360deg);
}