<div id="contLogin" *ngIf="showLogin">
  <div id="login">
    <h1 class="padding-top-btm">
      Bienvenido a: <br> <small> Oil Managment System</small>
    </h1>

    <label class="padding-top-btm" for="usernameInput">Usuario:</label>
    <input class="loginInput" id="usernameInput" type="text">

    <label class="padding-top-btm" for="passwordInput">Contraseña:</label>
    <input class="loginInput" id="passwordInput" type="password">

    <a (click)="showResPass = !showResPass" (click)="showLogin = !showLogin">¿Olvidaste tu contraseña?</a>

    <button id="btn-login">Ingresar</button>
  </div>
</div>

<div id="contLogin" *ngIf="showResPass">
    <div id="login">
      <h2 class="padding-top-btm">
        Ingresa tu usuario: <br> <small>Se te enviara un correo <br> electronico para reestablecer <br> tu contraseña</small>
      </h2>
  
      <label class="padding-top-btm" for="usernameInput">Usuario:</label>
      <input class="loginInput" id="usernameInput" type="text">
  
      <a (click)="showLogin = !showLogin" (click)="showResPass = !showResPass">Entrar</a>
  
      <button id="btn-login">Enviar</button>
    </div>
  </div>
